body {
  background: #ffdf3b;
  /* color: #9f1d2a; */
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 150%;
  position: relative;
  cursor: default;
}

.navbar {
  background-color: #800000;
}

.navbar-nav .nav-link {
  color: white;
  margin-left: 100px;
}



.btn1 {
  border: none;
  outline: none;
  height: 50px;
  width: 100%;
  background-color: #800000;
  color: white;
  border-radius: 4px;
  font-weight: bold;
}

.btn1:hover {
  background-color: white;
  color: rgb(128, 41, 43);
  border: 1px solid;
}


/* FAQ CSS */
.askquestionButton {
  border: none;
  outline: none;
  height: 50px;
  width: 200px;
  background-color: #9f1d2a;
  color: white;
  border-radius: 4px;
  font-weight: bold;
  float: right;
}


.askquestionButton:hover {
  background-color: white;
  color: #9f1d2a;
  border: 1px solid;
}

.accordion-section .panel-default>.panel-heading {
  border: 0;
  background: #f4f4f4;
  padding: 0;
}

.accordion-section .panel-default .panel-title a {
  display: block;
  font-style: italic;
  font-size: 1.5rem;
}

.accordion-section .panel-default .panel-title a:after {
  font-family: 'FontAwesome';
  font-style: normal;
  font-size: 3rem;
  content: "\f106";
  color: #1f7de2;
  float: right;
  margin-top: -12px;
}

.accordion-section .panel-default .panel-title a.collapsed:after {
  content: "\f107";
}

.accordion-section .panel-default .panel-body {
  font-size: 1.2rem;
}