body {
  background: #ffdf3b;
  color: #9f1d2a;
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 150%;
  position: relative;
  cursor: default;
}

.navbar {
  background-color: #800000;
}

.navbar-nav .nav-link {
  color: white;
  margin-left: 100px;
}
