* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v3_12 {
  width: 100%;
  height: 823px;
  background: rgba(255,215,0,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v3_13 {
  width: 100%;
  height: 78px;
  background: rgba(116,49,1,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v3_14 {
  width: 100%;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 12px;
  left: 40px;
  font-family: Reem Kufi;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v3_21 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 277px;
  left: 40px;
  font-family: Reem Kufi;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v4_24 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 571px;
  left: 40px;
  font-family: Reem Kufi;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v3_22 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 329px;
  left: 40px;
  font-family: Reem Kufi;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v4_25 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 623px;
  left: 40px;
  font-family: Reem Kufi;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v3_17 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 141px;
  left: 40px;
  font-family: Reem Kufi;
  font-weight: Regular;
  font-size: 28px;
  opacity: 1;
  text-align: center;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
